<template>
<div>
<form @submit.prevent="createProduct">
	<div class="form-group">
		<label>Product name</label>
			<input type="text" 
					class="form-control" 
					:class="form.errors.has('product_name') ? 'has-error' : ''" 
					v-model="form.product_name" 
					@keydown="form.errors.clear('product_name')">

			<span class="help is-danger" v-if="form.errors.has('product_name')" v-text="form.errors.get('product_name')"></span>
	</div>

	<div class="form-group">
		<label>Quantity in stock</label>
			<input type="text" 
					class="form-control" 
					:class="form.errors.has('quantity_in_stock') ? 'has-error' : ''" 
					v-model="form.quantity_in_stock" 
					@keydown="form.errors.clear('quantity_in_stock')">

			<span class="help is-danger" v-if="form.errors.has('quantity_in_stock')" v-text="form.errors.get('quantity_in_stock')"></span>
	</div>

	<div class="form-group">
		<label>Price</label>
			<input type="text" 
					class="form-control" 
					:class="form.errors.has('price') ? 'has-error' : ''" 
					v-model="form.price" 
					@keydown="form.errors.clear('price')">

			<span class="help is-danger" v-if="form.errors.has('price')" v-text="form.errors.get('price')"></span>
	</div>

	<div class="form-group">
		<input type="submit" class="btn btn-success" value="Add">
	</div>

	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<th>PRODUCT NAME</th>
				<th>QUANTITY IN STOCK</th>
				<th>PRICE</th>
			</thead>
			<tbody>
				<tr v-for="product in products">
					<td>product.product_name</td>
					<td>product.quantity_in_stock</td>
					<td>product.price</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
</div>	
</template>

<script type="text/javascript">
import {Form} from '../../forms';

	export default {
		data() {
			return {
				form: new Form({
					product_name: '',
					quantity_in_stock: '',
					price: ''
				}),
				products: {}
			}
		},

		methods: {
			fetchProducts() {
				axios.get('/products')
					.then((response) => {
						this.products = response.data
					})
			},

			createProduct() {
				this.form.submit('post', '/products')
			}
		},

		mounted() {
			this.fetchProducts()
		}
	}
</script>